.pie-pagina {
    padding: 20px;
    background-color: #0a141d;
}

.pie-pagina .g1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px;
}

.pie-pagina .g1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .g1 .box figure img {
    width: 250px;
}

.pie-pagina .g1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .g1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .g1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .g1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .g2 {
    background-color: #218bf5;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .g2 small {
    font-size: 15px;
}