body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container-content{
    background-color: aquamarine;
    flex-grow: 1;
}


.container-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}