.title-block {
    background-color: #0a141d;
    width: 100%;
}

.titulo {

    font-family: Arial, sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: #68829d;
    text-align: right;
    
}

.subTitulo {

    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #68829d;
    text-align: left;
}

.navbar {
    margin-top: 20px;
    bottom: 0;
    background-color: #218bf5;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-link{
    color: #fff;
}

