body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.container-body{
    background-color: #c8e2fc;
}

.container-content{
    margin: 0 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}


.container-imagen{
    margin: 0 100px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.container-config{
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}


.container-footer{
    margin-top: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
}