body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-header{
    background-color: #c8e2fc;
}

.container-body{
    background-color: #c8e2fc;
    
}
.container-content{
    margin: 0 50px;
    margin-bottom: 50px;
}


.container-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card{
    width: 400px;
}

